<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.0.xsd"
        name="mt940-pretty" version="0.0.1-dev" class="com.example.MT940prettyUmsatzExporter">

  <description>MT940-Pretty gibt eine MT940-Datei ohne XX scheisse aus</description>
  <url></url>
  <homepage>http://www.github.com/chrstphmr/mt940-pretty</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <!-- Define dependencies to jameica or other plugins -->
  <requires jameica="1.10+">
     <import plugin="hibiscus" version="2.6+" required="true" />
  </requires>

  <!-- Define regex wildcards for the classes and jars the classfinder should load -->
  <classfinder>
    <include>MT940prettyUmsatzExporter;\.jar</include>
    <include>.*\.class</include>
  </classfinder>


</plugin>

